@charset "utf-8";
// 폰트 Noto Sans Korean
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

// 색상
$primary-color: #dedede;

// 폰트
$primary-font: 'Noto Sans KR', sans-serif;

// 폰트 사이즈
$base-font-size: 16px;

// 폰트 색상
$base-font-color: #333;

// 반응형에 해당하는 부분(Media Query)

// etc
