@charset "utf-8";

body{
    height: 300vh;
    font-family: "Noto Sans", sans-serif;
}

.hd{
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99999;
}

.container{
    width: 1280px;
    height: 82.867px;
    margin: 0 auto;
    /* background-color: skyblue; */
}

.menuWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuWrap .logo img{
    width: 165px;
    height: 35px;
}

.menuWrap .menu ui{
    display: flex;
}

.menuWrap .menu ui li{
    width: 170px;
    height: 76px;
}

.menuWrap .menu li a{
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 76px;
}

.slide{
    height: 708px;
    background-color: skyblue;
}

.content{
    height: 1822.22px;
}

.content .title{
    width: 1216px;
    font-size: 22px !important;
    font-weight: 700;
    line-height: 1.41;
    letter-spacing: -2px;
    text-indent: -2px;
    padding-bottom: 20px;
}

.content .subtitle{
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: -.6px;
    padding: 0 0 0 624px;
}

.content .banner{
    display: flex;
    justify-content: space-between;
}

.content .banner .card{
    width: 384px;
    height: 580px;
}

.content .banner .imgWrap{
    height: 450px;
}

.content .banner .card-text h3{
    font-size: 21px;
}

.content .banner .card-text p{
    font-size: 15px;
}