@charset "utf-8";

body{
    height: 300vh;
    font-family: "Noto Sans", sans-serif;
}

.hd{
    width: 100%;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.menuWrap{
    height: 82.867px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99999;
}

.menuWrap img{
    width: 165px;
    height: 35px;
}

.menuWrap ui{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuWrap li{
    width: 170px;
    height: 76px;
    display: flex;
    background-color: blue;
}

.menuWrap .menu a{
    width: 100%;
    justify-self: center;
    align-self: center;
    background-color: red;
}